<html lang='en'>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel='stylesheet' href='{{baseUrl}}/stylesheets/index.css' />
  </head>
  <body>
    <div class='wrapper'>
      <header class='header'>
        <div class='left'>
          <h3 class='header-left-heading'>Account Statement</h3>
          <span>June 2022 (01 Jun 2022 - 30 Jun 2022)</span>
        </div>
        <div class='right'>
          <div class='img'>
            <img class='logo' src='{{baseUrl}}/images/prosperus-logo.png' />
          </div>
          <div class='address'>
            10 Marina Boulevard, Tower 2, #09-01 Marina Bay Financial Centre,
            018983
          </div>
        </div>
      </header>
      <main>
        <section class='header-main'>
          <div class='account-no'>Account No: 07012345</div>
          <div class='address-detail'>
            <div>Address: 10 Marina Boulevard, Tower 2, #09-01</div>
            <div>Marina Bay Financial Centre, 018983</div>
          </div>
        </section>

        <!-- =====================Table TYPE 1=====================-->
        <section class='table-section'>
          <h3 class='table-heading'>Your account at a glance</h3>
          <table class='table-type-1'>
            <thead>
              <tr>
                <th class='first-col'>Market Value</th>
                <th>USD 10,000</th>
                <th>SGD 5,358</th>
                <th>EUR 49,284.94</th>
                <th>HKD 49,284.94</th>
                <th>AUD 49,284.94</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class='first-col'>Market Value</th>
                <th>USD 10,000</th>
                <th>SGD 5,358</th>
                <th>EUR 49,284.94</th>
                <th>HKD 49,284.94</th>
                <th>AUD 49,284.94</th>
              </tr>
            </tbody>
          </table>
        </section>

        <!-- =====================Table TYPE 2 =====================-->
        <section class='table-section'>
          <h3 class='table-heading'>Transactions</h3>
          <div class='table-sub-heading'>US Market</div>
          <table class='table-type-2'>
            <thead>
              <tr class='table-head'>
                <th>Date</th>
                <th>Details</th>
                <th>Symbol</th>
                <th>Side</th>
                <th>Currency</th>
                <th>Units</th>
                <th>Price</th>
                <th>Commission & Fees</th>
                <th>Total Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>10 Jun 2022</td>
                <td>Dividend Received</td>
                <td>S68 - FT</td>
                <td>BUY</td>
                <td>USD</td>
                <td>5.85626</td>
                <td>890.00</td>
                <td>9.90</td>
                <td>- 5,221.74</td>
              </tr>

              <tr>
                <td>10 Jun 2022</td>
                <td>Dividend Received</td>
                <td>S68 - FT</td>
                <td>BUY</td>
                <td>USD</td>
                <td>5.85626</td>
                <td>890.00</td>
                <td>9.90</td>
                <td>- 5,221.74</td>
              </tr>
              <tr>
                <td>10 Jun 2022</td>
                <td>Dividend Received</td>
                <td>S68 - FT</td>
                <td>BUY</td>
                <td>USD</td>
                <td>5.85626</td>
                <td>890.00</td>
                <td>9.90</td>
                <td>- 5,221.74</td>
              </tr>
              <tr>
                <td>10 Jun 2022</td>
                <td>Dividend Received</td>
                <td>S68 - FT</td>
                <td>BUY</td>
                <td>USD</td>
                <td>5.85626</td>
                <td>890.00</td>
                <td>9.90</td>
                <td>- 5,221.74</td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>
    </div>
  </body>
</html>