<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{baseUrl}}/stylesheets/style.css" />

    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            appearance: none;
            background: none;
        }
    </style>
    <title>Account Statement</title>
</head>

<body>
    <div class="account-statement">
        <div class="header">
            <img class="logo" src="{{baseUrl}}/images/pu-logo-hor-full-colour-rgb-1.png" />
            <div class="account-statement-title">Account Statement</div>
            <div class="from-to-date">
                June 2022 (01 Jun 2022 - 30 Jun 2022)
            </div>

        </div>
        <div class="account-info">
            <div class="account-no">Account No: 07012345</div>
            <div class="address">
                Address: 10 Marina Boulevard, Tower 2, #09-01 <br />Marina Bay Financial
                Centre, 018983
            </div>
        </div>
        <svg class="rectangle-2" width="538" height="78" viewBox="0 0 538 78" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9 -0.5C3.75329 -0.5 -0.5 3.7533 -0.5 9V69C-0.5 74.2467 3.7533 78.5 9.00001 78.5H529C534.247 78.5 538.5 74.2467 538.5 69V9C538.5 3.7533 534.247 -0.5 529 -0.5H9Z"
                fill="white" stroke="black" />
        </svg>

        <div class="cash-available">Cash (Available)</div>
        <div class="sgd-1-040">SGD 1,040</div>
        <div class="sgd-5-358">SGD 5,358</div>
        <svg class="rectangle-3" width="538" height="150" viewBox="0 0 538 150" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9 -0.5C3.7533 -0.5 -0.5 3.7533 -0.5 9V141C-0.5 146.247 3.7533 150.5 9.00001 150.5H529C534.247 150.5 538.5 146.247 538.5 141V9C538.5 3.7533 534.247 -0.5 529 -0.5H9Z"
                fill="white" stroke="black" />
        </svg>

        <div class="_5149-42">5149.42</div>
        <div class="_1627-47">1627.47</div>
        <div class="_608-38">608.38</div>
        <div class="_168-70">168.70</div>
        <div class="_1-93485">1.93485</div>
        <div class="nvda-ft">NVDA - FT</div>
        <div class="gme-ft">GME - FT</div>
        <div class="market-value">Market Value</div>
        <div class="market-value2">Market Value</div>
        <div class="usd-1-937-21">USD 1,937.21</div>
        <div class="usd-10-000">USD 10,000</div>
        <div class="your-account-at-a-glance">Your account at a glance</div>
        <div class="holdings-summary">Holdings Summary</div>
        <div class="security-name">Security Name</div>
        <div class="symbol">Symbol</div>
        <div class="units">Units</div>
        <div class="currency">Currency</div>
        <div class="line-1"></div>
        <svg class="rectangle-5" width="538" height="204" viewBox="0 0 538 204" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9 -0.5C3.7533 -0.5 -0.5 3.75329 -0.5 9V195C-0.5 200.247 3.7533 204.5 9.00001 204.5H529C534.247 204.5 538.5 200.247 538.5 195V9C538.5 3.7533 534.247 -0.5 529 -0.5H9Z"
                fill="white" stroke="black" />
        </svg>

        <div class="_5-85626">5.85626</div>
        <div class="_0-00000">0.00000</div>
        <div class="_0-82785">0.82785</div>
        <div class="corporate-action-rights-issue">
            Corporate Action<br />Rights Issue
        </div>
        <div class="line-8"></div>
        <svg class="rectangle-4" width="538" height="120" viewBox="0 0 538 120" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9 -0.5C3.7533 -0.5 -0.5 3.75329 -0.5 9V111C-0.5 116.247 3.7533 120.5 9.00001 120.5H529C534.247 120.5 538.5 116.247 538.5 111V9C538.5 3.7533 534.247 -0.5 529 -0.5H9Z"
                fill="white" stroke="black" />
        </svg>

        <div class="_7-92892">7.92892</div>
        <div class="_20-49159">20.49159</div>
        <div class="z-74-ft">Z74 - FT</div>
        <div class="market-value3">Market Value</div>
        <div class="security-name2">Security Name</div>
        <div class="symbol2">Symbol</div>
        <div class="units2">Units</div>
        <div class="currency2">Currency</div>
        <div class="line-5"></div>
        <div class="tesla-inc-fractional">Tesla Inc - Fractional</div>
        <div class="game-stop-corp-fractional">GameStop Corp. - Fractional</div>
        <div class="nvidia-corporation-fractional">
            NVIDIA Corporation - Fractional
        </div>
        <div class="advanced-micro-devices-inc-fractional">
            Advanced Micro Devices, Inc. - Fractional
        </div>
        <div class="advanced-micro-devices-inc-fractional2">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="tsla-ft">TSLA - FT</div>
        <div class="amd-ft">AMD - FT</div>
        <div class="amd-ft2">AMD - FT</div>
        <div class="us-market">US Market</div>
        <div class="sg-market">SG Market</div>
        <div class="singapore-telecommunications-limited-fractional">
            Singapore Telecommunications Limited - Fractional
        </div>
        <div class="singapore-exchange-limited-fractional">
            Singapore Exchange Limited - Fractional
        </div>
        <div class="s-68-ft">S68 - FT</div>
        <div class="jardine-matheson-holdings-limited-fractional">
            Jardine Matheson Holdings Limited - Fractional
        </div>
        <div class="j-36-ft">J36 - FT</div>
        <div class="j-36-ft2">J36 - FT</div>
        <div class="transactions">Transactions</div>
        <div class="date">Date</div>
        <div class="details">Details</div>
        <div class="symbol3">Symbol</div>
        <div class="side">Side</div>
        <div class="currency3">Currency</div>
        <div class="units3">Units</div>
        <div class="price">Price</div>
        <div class="commission-fees">Commission <br />&amp; Fees</div>
        <div class="total-amount">Total Amount</div>
        <div class="_10-jun-2022">10 Jun 2022</div>
        <div class="_15-jun-2022">15 Jun 2022</div>
        <div class="_18-jun-2022">18 Jun 2022</div>
        <div class="_25-jun-2022">25 Jun 2022</div>
        <div class="dividend-received">Dividend <br />Received</div>
        <div class="tesla-inc-fractional2">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft2">TSLA - FT</div>
        <div class="buy">BUY</div>
        <div class="sgd">SGD</div>
        <div class="_0-000002">0.00000</div>
        <div class="usd">USD</div>
        <div class="sgd2">SGD</div>
        <div class="usd2">USD</div>
        <div class="buy2">BUY</div>
        <div class="s-68-ft2">S68 - FT</div>
        <div class="eur-10-472-10">EUR 10,472.10</div>
        <div class="eur-49-284-94">EUR 49,284.94</div>
        <div class="hkd-10-472-10">HKD 10,472.10</div>
        <div class="hkd-49-284-94">HKD 49,284.94</div>
        <div class="aud-10-472-10">AUD 10,472.10</div>
        <div class="aud-49-284-94">AUD 49,284.94</div>
        <div class="_10-marina-boulevard-tower-2-09-01-marina-bay-financial-centre-018983">
            10 Marina Boulevard, Tower 2, #09-01 Marina Bay Financial Centre, 018983
        </div>
        <div class="_9-90">9.90</div>
        <div class="_4-80">4.80</div>
        <div class="_890-00">890.00</div>
        <div class="_95-95">95.95</div>
        <div class="_6-83236">6.83236</div>
        <div class="_13-32985">13.32985</div>
        <div class="_3-84335">3.84335</div>
        <div class="usd3">USD</div>
        <div class="usd4">USD</div>
        <div class="usd5">USD</div>
        <div class="usd6">USD</div>
        <div class="_75-20396">75.20396</div>
        <div class="sgd3">SGD</div>
        <div class="sgd4">SGD</div>
        <div class="usd7">USD</div>
        <div class="_160-18">160.18</div>
        <div class="_168-02">168.02</div>
        <div class="_451-10">451.10</div>
        <div class="_1-63">+ 1.63</div>
        <div class="_5-221-74">- 5,221.74</div>
        <div class="_6-38">+ 6.38</div>
        <div class="_84-15">- 84.15</div>
        <div class="total-usd">Total (USD)</div>
        <div class="total-sgd">Total (SGD)</div>
        <div class="_960-73">960.73</div>
        <div class="_7553-97">7553.97</div>
        {{!-- <div>
            For Enquiries on your statement, please contact us at NUMBER or email to EMAIL

            Market Value: Is calculated using the closing price of the last business day of the month.
            Commissions and Fees: The costs incurred on each transaction. Commissions are either fixed amount per
            security, or
            calculated by applying the applicable commission rate to the traded value, subject to a minimum fee for
            small
            trades.

        </div> --}}
    </div>

</body>

</html>