<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{baseUrl}}/stylesheets/style.css" />

    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            appearance: none;
            background: none;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="trade-confirmation">
        <div class="rectangle-1"></div>
        <div class="trade-confirmation2">Trade Confirmation</div>
        <div class="account-no-07012345">Account No: 07012345</div>
        <div class="statement-date-22-08-2022">Statement date: 22-08-2022</div>
        <div class="address-10-marina-boulevard-tower-2-09-01-marina-bay-financial-centre-018983">
            Address: 10 Marina Boulevard, Tower 2, #09-01 <br />Marina Bay Financial
            Centre, 018983
        </div>
        <div class="_10-marina-boulevard-tower-2-09-01-marina-bay-financial-centre-018983">
            10 Marina Boulevard, Tower 2, #09-01 Marina Bay Financial Centre, 018983
        </div>
        <svg class="rectangle-6" width="538" height="321" viewBox="0 0 538 321" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9 -0.5C3.7533 -0.5 -0.5 3.75329 -0.5 9V312C-0.5 317.247 3.7533 321.5 9.00001 321.5H529C534.247 321.5 538.5 317.247 538.5 312V9C538.5 3.7533 534.247 -0.5 529 -0.5H9Z"
                fill="white" stroke="black" />
        </svg>

        <div class="_19-jun-2022">19 Jun 2022</div>
        <div class="_95-95">95.95</div>
        <div class="_9-94">9.94</div>
        <div class="_0-82785">0.82785</div>
        <div class="_3-18459">3.18459</div>
        <div class="advanced-micro-devices-fractional-amd-ft">
            Advanced Micro <br />Devices <br />- Fractional<br />AMD - FT
        </div>
        <div class="avg-price">Avg Price</div>
        <div class="units">Units</div>
        <div class="side">Side</div>
        <div class="description-symbol">Description <br />&amp; Symbol</div>
        <div class="line-12"></div>
        <div class="trade-details">Trade Details</div>
        <div class="commission-fees">Commission &amp; Fees</div>
        <div class="net-amount">Net <br />Amount</div>
        <div
            class="gross-amount-commission-clearing-fees-misc-handling-fees-sgx-trading-fees-sgx-si-fee-platform-fee-gst-8-ffp">
            Gross Amount<br />Commission<br />Clearing Fees<br />Misc / Handling
            Fees<br />SGX Trading Fees<br />SGX SI Fee<br />Platform Fee<br />GST
            8%<br />FFP
        </div>
        <div class="usd-5-221-74-usd-9-90-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00">
            USD 5,221.74<br />USD 9.90<br />USD 0.00<br />USD 0.00<br />USD 0.00<br />USD
            0.00<br />USD 0.00<br />USD 0.00<br />USD 0.00
        </div>
        <div class="usd-84-15-usd-9-90-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00">
            USD 84.15<br />USD 9.90<br />USD 0.00<br />USD 0.00<br />USD 0.00<br />USD
            0.00<br />USD 0.00<br />USD 0.00<br />USD 0.00
        </div>
        <div class="usd-38-45-usd-9-90-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00-usd-0-00">
            USD 38.45<br />USD 9.90<br />USD 0.00<br />USD 0.00<br />USD 0.00<br />USD
            0.00<br />USD 0.00<br />USD 0.00<br />USD 0.00
        </div>
        <div
            class="gross-amount-commission-clearing-fees-misc-handling-fees-sgx-trading-fees-sgx-si-fee-platform-fee-gst-8-ffp2">
            Gross Amount<br />Commission<br />Clearing Fees<br />Misc / Handling
            Fees<br />SGX Trading Fees<br />SGX SI Fee<br />Platform Fee<br />GST
            8%<br />FFP
        </div>
        <div
            class="gross-amount-commission-clearing-fees-misc-handling-fees-sgx-trading-fees-sgx-si-fee-platform-fee-gst-8-ffp3">
            Gross Amount<br />Commission<br />Clearing Fees<br />Misc / Handling
            Fees<br />SGX Trading Fees<br />SGX SI Fee<br />Platform Fee<br />GST
            8%<br />FFP
        </div>
        <div class="trade-date">Trade Date</div>
        <div class="settlement-date">Settlement date</div>
        <div class="tesla-inc-fractional-tsla-ft">
            Tesla Inc <br />- Fractional<br />TSLA - FT
        </div>
        <div class="singapore-exchange-limited-fractional-s-68-ft">
            Singapore <br />Exchange <br />Limited <br />- Fractional<br />S68 - FT
        </div>
        <div class="buy">BUY</div>
        <div class="buy2">BUY</div>
        <div class="buy3">BUY</div>
        <div class="_5-85626">5.85626</div>
        <div class="trade-ref-1234567890">Trade Ref. 1234567890</div>
        <div class="trade-ref-12345678902">Trade Ref. 1234567890</div>
        <div class="trade-ref-12345678903">Trade Ref. 1234567890</div>
        <div class="_890-00">890.00</div>
        <div class="usd-5-221-74">USD 5,221.74</div>
        <div class="_15-jun-2022">15 Jun 2022</div>
        <div class="_17-jun-2022">17 Jun 2022</div>
        <div class="usd-38-45">USD 38.45</div>
        <div class="_18-jun-2022">18 Jun 2022</div>
        <div class="usd-84-15">USD 84.15</div>
        <div class="_25-jun-2022">25 Jun 2022</div>
        <div class="_27-jun-2022">27 Jun 2022</div>
        <img class="pu-logo-hor-full-colour-rgb-2" src="{{baseUrl}}/images/pu-logo-hor-full-colour-rgb-1.png" />

    </div>
</body>

</html>