<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{baseUrl}}/stylesheets/style.css" />

    <style>
        a,
        button,
        input,
        select,
        h1,
        h2,
        h3,
        h4,
        h5,
        * {
            margin: 0;
            padding: 0;
            border: none;
            text-decoration: none;
            appearance: none;
            background: none;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="transaction-statement">
        <div class="rectangle-1"></div>
        <img class="logo" src="{{baseUrl}}/images/pu-logo-hor-full-colour-rgb-1.png" />
        <div class="transaction-statement2">Transaction Statement</div>
        <div class="account-no">Account No: 07012345</div>
        <div class="statement-date">Statement date: 22-08-2022</div>
        <div class="address">
            Address: 10 Marina Boulevard, Tower 2, #09-01 <br />Marina Bay Financial
            Centre, 018983
        </div>
        <div class="_10-marina-boulevard-tower-2-09-01-marina-bay-financial-centre-018983">
            10 Marina Boulevard, Tower 2, #09-01 Marina Bay Financial Centre, 018983
        </div>
        <div class="transaction-statement3">Transaction Statement</div>
        <svg class="rectangle-5" width="538" height="543" viewBox="0 0 538 543" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9 -0.5C3.7533 -0.5 -0.5 3.75328 -0.5 8.99999V534C-0.5 539.247 3.7533 543.5 9.00001 543.5H529C534.247 543.5 538.5 539.247 538.5 534V9C538.5 3.7533 534.247 -0.5 529 -0.5H9Z"
                fill="white" stroke="black" />
        </svg>

        <div class="_5-85626">5.85626</div>
        <div class="_0-00000">0.00000</div>
        <div class="_0-82785">0.82785</div>
        <div class="corporate-action-rights-issue">
            Corporate Action<br />Rights Issue
        </div>
        <div class="advanced-micro-devices-inc-fractional">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="amd-ft">AMD - FT</div>
        <div class="j-36-ft">J36 - FT</div>
        <div class="_10-jun-2022">10 Jun 2022</div>
        <div class="_15-jun-2022">15 Jun 2022</div>
        <div class="_18-jun-2022">18 Jun 2022</div>
        <div class="_25-jun-2022">25 Jun 2022</div>
        <div class="dividend-received">Dividend <br />Received</div>
        <div class="tesla-inc-fractional">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft">TSLA - FT</div>
        <div class="buy">BUY</div>
        <div class="sgd">SGD</div>
        <div class="_0-000002">0.00000</div>
        <div class="usd">USD</div>
        <div class="sgd2">SGD</div>
        <div class="usd2">USD</div>
        <div class="">-</div>
        <div class="buy2">BUY</div>
        <div class="2">-</div>
        <div class="3">-</div>
        <div class="4">-</div>
        <div class="s-68-ft">S68 - FT</div>
        <div class="5">-</div>
        <div class="_9-90">9.90</div>
        <div class="_4-80">4.80</div>
        <div class="6">-</div>
        <div class="_890-00">890.00</div>
        <div class="_95-95">95.95</div>
        <div class="_1-63">1.63</div>
        <div class="_5-221-74">5,221.74</div>
        <div class="_6-38">6.38</div>
        <div class="_84-15">84.15</div>
        <div class="_5-85626">5.85626</div>
        <div class="_0-00000">0.00000</div>
        <div class="_0-82785">0.82785</div>
        <div class="corporate-action-rights-issue">
            Corporate Action<br />Rights Issue
        </div>
        <div class="advanced-micro-devices-inc-fractional">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="amd-ft">AMD - FT</div>
        <div class="j-36-ft">J36 - FT</div>
        <div class="_10-jun-2022">10 Jun 2022</div>
        <div class="_15-jun-2022">15 Jun 2022</div>
        <div class="_18-jun-2022">18 Jun 2022</div>
        <div class="_25-jun-2022">25 Jun 2022</div>
        <div class="dividend-received">Dividend <br />Received</div>
        <div class="tesla-inc-fractional">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft">TSLA - FT</div>
        <div class="buy">BUY</div>
        <div class="sgd">SGD</div>
        <div class="_0-000002">0.00000</div>
        <div class="usd">USD</div>
        <div class="sgd2">SGD</div>
        <div class="usd2">USD</div>
        <div class="">-</div>
        <div class="buy2">BUY</div>
        <div class="2">-</div>
        <div class="3">-</div>
        <div class="4">-</div>
        <div class="s-68-ft">S68 - FT</div>
        <div class="5">-</div>
        <div class="_9-90">9.90</div>
        <div class="_4-80">4.80</div>
        <div class="6">-</div>
        <div class="_890-00">890.00</div>
        <div class="_95-95">95.95</div>
        <div class="_1-63">1.63</div>
        <div class="_5-221-74">5,221.74</div>
        <div class="_6-38">6.38</div>
        <div class="_84-15">84.15</div>
        <div class="_5-856262">5.85626</div>
        <div class="_0-000003">0.00000</div>
        <div class="_0-827852">0.82785</div>
        <div class="corporate-action-rights-issue2">
            Corporate Action<br />Rights Issue
        </div>
        <div class="advanced-micro-devices-inc-fractional2">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="amd-ft2">AMD - FT</div>
        <div class="j-36-ft2">J36 - FT</div>
        <div class="date">Date</div>
        <div class="details">Details</div>
        <div class="symbol">Symbol</div>
        <div class="side">Side</div>
        <div class="currency">Currency</div>
        <div class="units">Units</div>
        <div class="price">Price</div>
        <div class="commission-fees">Commission <br />&amp; Fees</div>
        <div class="total-amount">Total Amount</div>
        <div class="_10-jun-20222">10 Jun 2022</div>
        <div class="_15-jun-20222">15 Jun 2022</div>
        <div class="_18-jun-20222">18 Jun 2022</div>
        <div class="_25-jun-20222">25 Jun 2022</div>
        <div class="dividend-received2">Dividend <br />Received</div>
        <div class="tesla-inc-fractional2">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft2">TSLA - FT</div>
        <div class="buy3">BUY</div>
        <div class="sgd3">SGD</div>
        <div class="_0-000004">0.00000</div>
        <div class="usd3">USD</div>
        <div class="sgd4">SGD</div>
        <div class="usd4">USD</div>
        <div class="7">-</div>
        <div class="buy4">BUY</div>
        <div class="8">-</div>
        <div class="9">-</div>
        <div class="10">-</div>
        <div class="s-68-ft2">S68 - FT</div>
        <div class="11">-</div>
        <div class="_9-902">9.90</div>
        <div class="_4-802">4.80</div>
        <div class="12">-</div>
        <div class="_890-002">890.00</div>
        <div class="_95-952">95.95</div>
        <div class="_1-632">1.63</div>
        <div class="_5-221-742">5,221.74</div>
        <div class="_6-382">6.38</div>
        <div class="_84-152">84.15</div>
        <div class="_5-856262">5.85626</div>
        <div class="_0-000003">0.00000</div>
        <div class="_0-827852">0.82785</div>
        <div class="corporate-action-rights-issue2">
            Corporate Action<br />Rights Issue
        </div>
        <div class="advanced-micro-devices-inc-fractional2">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="amd-ft2">AMD - FT</div>
        <div class="j-36-ft2">J36 - FT</div>
        <div class="date">Date</div>
        <div class="details">Details</div>
        <div class="symbol">Symbol</div>
        <div class="side">Side</div>
        <div class="currency">Currency</div>
        <div class="units">Units</div>
        <div class="price">Price</div>
        <div class="commission-fees">Commission <br />&amp; Fees</div>
        <div class="total-amount">Total Amount</div>
        <div class="_10-jun-20222">10 Jun 2022</div>
        <div class="_15-jun-20222">15 Jun 2022</div>
        <div class="_18-jun-20222">18 Jun 2022</div>
        <div class="_25-jun-20222">25 Jun 2022</div>
        <div class="dividend-received2">Dividend <br />Received</div>
        <div class="tesla-inc-fractional2">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft2">TSLA - FT</div>
        <div class="buy3">BUY</div>
        <div class="sgd3">SGD</div>
        <div class="_0-000004">0.00000</div>
        <div class="usd3">USD</div>
        <div class="sgd4">SGD</div>
        <div class="usd4">USD</div>
        <div class="7">-</div>
        <div class="buy4">BUY</div>
        <div class="8">-</div>
        <div class="9">-</div>
        <div class="10">-</div>
        <div class="s-68-ft2">S68 - FT</div>
        <div class="11">-</div>
        <div class="_9-902">9.90</div>
        <div class="_4-802">4.80</div>
        <div class="12">-</div>
        <div class="_890-002">890.00</div>
        <div class="_95-952">95.95</div>
        <div class="_1-632">1.63</div>
        <div class="_5-221-742">5,221.74</div>
        <div class="_6-382">6.38</div>
        <div class="_84-152">84.15</div>
        <div class="_5-856263">5.85626</div>
        <div class="_0-000005">0.00000</div>
        <div class="_0-827853">0.82785</div>
        <div class="corporate-action-rights-issue3">
            Corporate Action<br />Rights Issue
        </div>
        <div class="advanced-micro-devices-inc-fractional3">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="amd-ft3">AMD - FT</div>
        <div class="j-36-ft3">J36 - FT</div>
        <div class="_10-jun-20223">10 Jun 2022</div>
        <div class="_15-jun-20223">15 Jun 2022</div>
        <div class="_18-jun-20223">18 Jun 2022</div>
        <div class="_25-jun-20223">25 Jun 2022</div>
        <div class="dividend-received3">Dividend <br />Received</div>
        <div class="tesla-inc-fractional3">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft3">TSLA - FT</div>
        <div class="buy5">BUY</div>
        <div class="sgd5">SGD</div>
        <div class="_0-000006">0.00000</div>
        <div class="usd5">USD</div>
        <div class="sgd6">SGD</div>
        <div class="usd6">USD</div>
        <div class="13">-</div>
        <div class="buy6">BUY</div>
        <div class="14">-</div>
        <div class="15">-</div>
        <div class="16">-</div>
        <div class="s-68-ft3">S68 - FT</div>
        <div class="17">-</div>
        <div class="_9-903">9.90</div>
        <div class="_4-803">4.80</div>
        <div class="18">-</div>
        <div class="_890-003">890.00</div>
        <div class="_95-953">95.95</div>
        <div class="_1-633">1.63</div>
        <div class="_5-221-743">5,221.74</div>
        <div class="_6-383">6.38</div>
        <div class="_84-153">84.15</div>
        <div class="_5-856263">5.85626</div>
        <div class="_0-000005">0.00000</div>
        <div class="_0-827853">0.82785</div>
        <div class="corporate-action-rights-issue3">
            Corporate Action<br />Rights Issue
        </div>
        <div class="advanced-micro-devices-inc-fractional3">
            Advanced Micro <br />Devices, Inc. -Fractional
        </div>
        <div class="amd-ft3">AMD - FT</div>
        <div class="j-36-ft3">J36 - FT</div>
        <div class="_10-jun-20223">10 Jun 2022</div>
        <div class="_15-jun-20223">15 Jun 2022</div>
        <div class="_18-jun-20223">18 Jun 2022</div>
        <div class="_25-jun-20223">25 Jun 2022</div>
        <div class="dividend-received3">Dividend <br />Received</div>
        <div class="tesla-inc-fractional3">Tesla Inc - <br />Fractional</div>
        <div class="tsla-ft3">TSLA - FT</div>
        <div class="buy5">BUY</div>
        <div class="sgd5">SGD</div>
        <div class="_0-000006">0.00000</div>
        <div class="usd5">USD</div>
        <div class="sgd6">SGD</div>
        <div class="usd6">USD</div>
        <div class="13">-</div>
        <div class="buy6">BUY</div>
        <div class="14">-</div>
        <div class="15">-</div>
        <div class="16">-</div>
        <div class="s-68-ft3">S68 - FT</div>
        <div class="17">-</div>
        <div class="_9-903">9.90</div>
        <div class="_4-803">4.80</div>
        <div class="18">-</div>
        <div class="_890-003">890.00</div>
        <div class="_95-953">95.95</div>
        <div class="_1-633">1.63</div>
        <div class="_5-221-743">5,221.74</div>
        <div class="_6-383">6.38</div>
        <div class="_84-153">84.15</div>
    </div>
</body>

</html>